@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Code+Pro&display=swap');

:root {
	--my-orange: rgb(255, 123, 0);
}
* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
	text-align: center;
}
body {
	background: url('Pictures/Background.jpg') fixed;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	font-family: 'Source Code Pro', monospace;
}
body::after {
	content: '';
	height: 100%;
	width: 100%;

	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;

	background: black;
	opacity: 0.5;
}

section {
	overflow: hidden;
	padding: 50px;
	border-bottom: 10px solid var(--my-orange);
}
h1{
	font-size: 3rem;
}
h2{
	font-size: 2rem;
}

nav {
	width: 100%;

	display: flex;
	justify-content: end;

	position: fixed;
	top: 0;
	z-index: 1;

	background: linear-gradient(0deg, black -5%, var(--my-orange) 20%);
}
nav > a {
	padding: 10px 20px;

	font-size: 1.3rem;
	text-decoration: none;
	font-weight: bold;
	color: black;
	background-color: var(--my-orange);
}
nav a:hover {
	background-color: black;
	color: white;
}

.welcome {
	padding: 100px 0;
}
.welcome img {
	margin: 75px auto;
	border-radius: 50%;
	border: 20px solid var(--my-orange);
}
.welcome p {
	font-size: 1.5rem;
	color: var(--my-orange);
}

.projContainer {
	margin:50px auto;
	max-width: 1200px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.projContainer > a {
	display: block;
	width: 40%;
	margin: 30px;
	border-radius: 40px;
	border-bottom-left-radius: 10px;
	
	color: black;
	text-decoration: none;

	background-color: var(--my-orange);
	box-shadow: -8px 8px 0 8px var(--my-orange);
	transition: border 300ms, box-shadow 300ms;
	overflow: hidden;
}
.projContainer > a img {
	max-width: 100%;
	border-radius: 10px;
}
.projContainer > a p {
	background-color: transparent;
	padding-top: 10px;
	font-weight: bold;
	font-size: large;
}
.projContainer > a:hover {
	box-shadow: 0 0 0 15px var(--my-orange);
	border-radius: 40px;
}
.seeMore {
	display: block;
	width: 130px;
	padding: 10px;
	margin: 30px auto;
	border-radius: 10px;

	text-decoration: none;
	color: black;
	font-size: large;
	font-weight: bold;

	background-color: var(--my-orange);
	transition: all 300ms;
}
.seeMore:hover {
	box-shadow: 0 0 0 10px rgb(65, 65, 65);
}

.contact > h2 {
	font-size: 3rem;
}
.contact > p {
	padding: 30px;
	color: var(--my-orange);
}
.links {
	display: flex;
	justify-content: center;
	align-items: center;
}
.links > div{
    height: 50px;
    width: 50px;
	margin: 10px;

    display: flex;
    align-items: center;

    transition: all 500ms;
    overflow: hidden;
}
.links > div img {
    height: 100%;
    cursor: pointer;
}
.links > div p, 
.links > div a{
    width: 100%;
    margin-left: 10px;
	border-right: 3px solid;

	color: var(--my-orange);
	text-decoration: none;
	white-space: nowrap;
    font-size: 1.3rem;
}
.links > div a{
	text-decoration: underline;
}
.links > div.open{
    width: 350px;
}

footer {
	padding: 20px;
	background: black;
}

@media (max-width: 1200px) {
	.projContainer {
		width: 100%;
	}
	.projContainer > div {
		width: 40%;
	}
}
@media (max-width: 800px) {
	.projContainer > div {
		width: 80%;
	}
	nav {
		justify-content: center;
	}
	.projContainer > a{
		width: 100%;
	}
	.links {
		flex-direction: column;
	}
}
@media (max-width: 500px){

	nav > a{
		font-size: 1rem;
	}
	.welcome p{
		font-size: 1rem;
	}
	.welcome img {
		width: 60%;
		border-width: 10px;
	}
	.projects h2{
		font-size: 1.2rem;
	}
	.projContainer > a{
		border-radius: 20px;
		border-bottom-left-radius: 5px;
	}
	.projContainer > a p{
		font-size: 0.7rem;
	}
}

::-webkit-scrollbar {
	width: 1rem;
}
::-webkit-scrollbar-track {
	background-color: black;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(90deg, black -20%, var(--my-orange) 50%);
	border: 1px solid black;
	border-radius: 5px;
}
